# Database Configuration
DB_URL=jdbc:postgresql://ip:port/Endgame_DB
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DRIVER_CLASS_NAME=org.postgresql.Driver

# PostgreSQL Configuration
POSTGRES_DB=Endgame_DB
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
